h3 {
  font-family: sans-serif;
  font-size: 100%;
}
h2 {
    font-family: sans-serif;
    font-size: 150%;
}
/* Lay-out of the button  */
.dropbtn {
    background-color: #000099;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
}

/* Position of the dropdown button  */
.dropdown {
  margin-left: 55%;
    font-family: sans-serif;
    position: relative;
    display: inline-block;
}

/* Styling the content of the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Changing color when hovering over dropdown */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown
  content is shown */
.dropdown:hover .dropbtn {background-color: #000000;}
16:29
